
/* carousel */

body {
    position: relative;
}

.slides {
    position: relative;
    height: 50%;
}
/*buttons for carousel*/

.slide1button {
    padding: 0px;
    border: 0px;
    
}
/*works*/
.works1 {
    position: absolute;
}
.grid-container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end];
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 1fr [row2-end row3-start] 1fr [row3-end];
    padding: 10px;
  }
  .grid-item {
    text-align: center;
  }
  #Des {
      text-align: left;
  }
 
  
/* contact */
#contact {
    position: relative;
}

