@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

/* carousel */

body {
    position: relative;
}

.slides {
    position: relative;
    height: 50%;
}
/*buttons for carousel*/

.slide1button {
    padding: 0px;
    border: 0px;
    
}
/*works*/
.works1 {
    position: absolute;
}
.grid-container {
    display: grid;
    grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end];
    padding: 10px;
  }
  .grid-item {
    text-align: center;
  }
 
  
/* contact */
#contact {
    position: relative;
}

